/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "navbar" "welcome" "about" "technologies" "contact";
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 768px) {
  nav {
    position: sticky;
    border-bottom: 1px solid black;
  }

  nav div {
    margin-right: 5vw;
  }

  #welcomeSection {
    display: grid !important;
    max-width: 100vw !important;
    justify-items: center;
    grid-template-rows: 10vh 50vh;
  }

  #aboutSection {
    display: grid;
    grid-template-areas: "about_title" "about_image" "about_text";
    justify-items: center!important;
    height: auto !important;
    padding: 2vw;
  }

  #technologiesSection {
    display: grid;
    justify-items: center;
    padding-bottom: 10vh;
  }

  #technologiesSection div {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  img {
    max-width: 100vw !important;
    height: auto;
  }
}

@media only screen and (min-width: 35em) {
  #aboutSection {
    grid-area: about;
    grid-template-areas: "about_title about_text about_image";
    display: grid;
    background: #52AAEA;
    height: 427px;
  }

  #aboutText {
    color: white;
    grid-area: about_text;
    align-self: center;
    justify-self: start;
    width: 50vw;
  }

  #aboutTitle {
    grid-area: about_title;
    position: absolute;
  }

  #aboutImage {
    grid-area: about_image;
    align-self: center;
  }

  .title {
    align-self: start;
    padding-left: 5vw;
  }

  #technologiesSection div {
    display: grid;
    grid-template-columns: 15vw 50vw;
    align-items: center;
    padding-top: 5vh;
    padding-left: 5vw;
  }

  #technologiesSection div p {
    justify-self: start;
  }

  #technologiesSection div img {
    justify-self: center;
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  top: 0;
  height: 50px;
  background: white;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav div {
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}

.icons {
  width: 40px;
  height: 40px;
  background-size: 100% !important;
  display: block;
}

#homeButton {
  background: url(/site/static/icons/home.png) 0 0 no-repeat;
}

#homeButton:hover {
  background: url(/site/static/icons/home.gif) 0 0 no-repeat;
  cursor: pointer;
}

#aboutButton {
  background: url(/site/static/icons/info.png) 0 0 no-repeat;
}

#aboutButton:hover {
  background: url(/site/static/icons/info.gif) 0 0 no-repeat;
  cursor: pointer;
}

#tecsButton {
  background: url(/site/static/icons/loading.png) 0 0 no-repeat;
}

#tecsButton:hover {
  background: url(/site/static/icons/loading.gif) 0 0 no-repeat;
  cursor: pointer;
}

#contactsButton {
  background: url(/site/static/icons/email.png) 0 0 no-repeat;
}

#contactsButton:hover {
  background: url(/site/static/icons/email.gif) 0 0 no-repeat;
  cursor: pointer;
}

#welcomeSection {
  grid-area: welcome;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#welcomeText {
  font-size: 5vw;
  min-width: 200px;
}

#blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker
{
  50% {
    opacity: 0;
  }
}

#aboutSection {
  grid-area: about;
  background: #52AAEA;
  height: 427px;
}

.title {
  font-weight: 100;
  font-size: 3em;
}

#aboutTitle {
  color: white;
  grid-area: about_title;
}

#aboutText {
  color: white;
  grid-area: about_text;
}

#aboutImage {
  grid-area: about_image;
}

#technologiesSection {
  grid-area: technologies;
  height: 882px;
  padding-bottom: 10vh;
}

#contactsSession {
  grid-area: contact;
  height: 427px;
  background: #2274C0;
}

#contactsTitle {
  color: white;
}
#contactsSession div {
  padding-left: 8vw;
}

#contactsSession a {
  color: white;
  text-decoration: none;
}

.socialImg {
  width: 30px;
  height: 30px;
}

#contactsSession div {
  padding-top: 1vh;
}

